@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    <p>Daha fazla bilgi için <a href="https://docs.microsoft.com/aspnet/core">buraya</a> tıklayabilirsiniz.</p>
</div>