@{
    ViewData["Title"] = "Gizlilik Politikası";
}
<h1>@ViewData["Title"]</h1>

<p>Kullanıcının bilgisi olmadan veri toplamak cezaya tabi bir suçtur. Ne türden veri topladığınızı tam olarak belirtmeli ve
    bu verilerde değişiklik olması halinde gizlilik politikasını düzenli olarak güncellemelisiniz. Bunu yapmamanız halinde 
    20 milyon avro veya küresel gelirinizin %4’üne varan para cezası ile karşı karşıya kalabilirsiniz.</p>

<p>Hizmetlerimizi kullandığınızda, bilgileriniz açısından bize güvenirsiniz. Bunun büyük bir sorumluluk olduğunu 
    bildiğimizden bilgilerinizi korumak ve bilgilerinizin kontrolünün sizde olmasını sağlamak için büyük çaba harcarız.</p>

<p>Gizliliğinizi yönetmek için hizmetlerimizi çeşitli şekillerde kullanabilirsiniz. Örneğin, e-postalar ve fotoğraflar 
    gibi içerikler oluşturmak ve yönetmek ya da daha alakalı arama sonuçları görmek için Google Hesabı'na kaydolabilirsiniz. 
    Oturumunuz kapalıyken veya hiç hesap oluşturmadan da Google'da arama yapma veya YouTube videoları izleme gibi birçok Google 
    hizmetini kullanabilirsiniz. Ayrıca Chrome'u Gizli modda kullanarak web'deki göz atma faaliyetlerinizi gizli bir şekilde 
    yürütebilirsiniz. Hizmetlerimiz genelinde, hangi bilgileri topladığımızı ve bilgilerinizin nasıl kullanıldığını kontrol 
    etmek için gizlilik ayarlarınızı düzenleyebilirsiniz.</p>